{% extends 'manage_base.html' %}
{% block title %}
蓝牙设备详情
{% end %}

{% block body_content %}

<form method="POST" action="/backstage/management/device/detail/" role="form">
    <table class="table table-striped table-border">
        <tr>
            <td><label class="form-control" for="device_id">设备ID</label></td>
            <td><input class="form-control" type="text" name="device_id" id="device_id" value="{{ device.id }}"
                       readonly="readonly"/>
            </td>
            <td><label class="form-control" for="identity_id">设备唯一标识</label></td>
            <td><input class="form-control" type="text" name="identity_id" id="identity_id"
                       value="{{ device.identity_id}}"
                       readonly="readonly"/></td>
        </tr>

        <tr>
            <td><label class="form-control" for="application_id">应用ID</label></td>
            <td><input class="form-control" type="text" name="application_id" id="application_id"
                       value="{{ device.application_id }}"/>
            </td>
            <td><label class="form-control" for="mac_address">MAC地址</label></td>
            <td><input class="form-control" type="text" name="mac_address"
                       id="mac_address"
                       value="{{ device.mac_address}}"/></td>
        </tr>

        <tr>
            <td><label class="form-control" for="tx_power">TX-POWER</label></td>
            <td><input class="form-control" type="text" name="tx_power" id="tx_power"
                       value="{{ device.tx_power }}"/>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="1"><input class="btn btn-primary pull-right" type="submit" name="submit" value="修改"/></td>
            <!--<td colspan="1"><input class="btn btn-primary pull-right" type="submit" name="delete" value="删除"/></td>-->
            <td colspan="2"><a class="btn btn-primary" href="/backstage/management/device/list/">取消</a></td>
        </tr>

    </table>
</form>

{% end %}