{% extends 'manage_base.html' %}
{% block title %}
蓝牙设备列表
{% end %}

{% block body_search %}
<form role="form" method="get" action="/backstage/management/device/list/">
    <table class="table table-striped table-border">
        <tr>
            <td><input class="form-control" type="text" placeholder="身份ID" name="identity_id"
                       value="{{ identity_id }}"/></td>
            <td><input class="form-control" type="text" placeholder="Mac地址" name="mac_address"
                       value="{{ mac_address }}"/></td>
            <td><input class="btn btn-primary glyphicon glyphicon-search" type="submit" value="查询"/>
            </td>
            <td><a class="btn btn-primary glyphicon glyphicon-plus" href="/backstage/management/device/add/">添加</a></td>
            <td><a class="btn btn-primary glyphicon glyphicon-plus" href="/backstage/management/device/batch_add/">批量添加</a></td>
        </tr>

    </table>

</form>
{% end %}

{% block body_content %}
<div class="list-group">
    {% for device in devices %}

    <table class="table table-striped table-border">
        <tr>
            <td>
                <h4 class="list-group-item-heading">
                    <span class="glyphicon glyphicon-user">{{ device.identity_id }}</span>
                    <span>-----id-----</span>
                    <span class="glyphicon ">{{ device.id}}</span>
                </h4>
                <br>
                <span class="label label-info">{{ device.mac_address }}</span>
        <span class="badge">查</span>
            </td>
            <td align="right" style="text-align: right; vertical-align: middle;">
                <a class="btn btn-default" href="{{ detail_url }}?device_id={{ device.id }}" role="button">修改</a>
                <a class="btn btn-default" href="{{ delete_url }}?device_id={{ device.id }}" role="button">删除</a>
            </td>
        </tr>

    </table>

    {% end %}

</div>
<br/>
<ul class="pagination">
    {% if previous==0 %}
    <li class="disabled"><a href="#">&laquo;</a></li>

    {% else %}
    <li><a href="/backstage/management/device/list/?page={{previous}}">&laquo;</a></li>
    {% end %}

    {% for p in pages %}
    {% if p == page %}
    <li class="active"><a href="/backstage/management/device/list/?page={{p}}">{{p}}</a></li>
    {% else %}
    <li><a href="/backstage/management/device/list/?page={{p}}">{{p}}</a></li>
    {% end %}
    {% end %}

    {% if next==0 %}
    <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
    <li><a href="/backstage/management/device/list/?page={{next}}">&raquo;</a></li>
    {% end %}
</ul>
<br/>

{% end %}