{% extends 'manage_base.html' %}
{% block title %}
后台用户删除
{% end %}

{% block body_content %}
<form method="POST" action="/backstage/management/staff/delete/" role="form">
    <table class="table table-striped table-border">
        <tr>
            <td><label class="form-control" for="staff_id">用户ID</label></td>
            <td><input class="form-control" type="text" name="staff_id" id="staff_id" value="{{ staff.id }}"
                       readonly="readonly"/>
            </td>
            <td><label class="form-control" for="username">用户名</label></td>
            <td><input class="form-control" type="text" name="username" id="username" value="{{ staff.username}}"
                       readonly="readonly"/></td>
        </tr>

        <tr>
            <td><label class="form-control" for="country_code">区号</label></td>
            <td><select class="form-control" name="country_code" id="country_code" disabled>
                {% for c in country_code_list %}
                {% if c.id==staff.country_code_id %}
                <option value="{{ c.id }}" selected="selected">{{ c.country_name }}</option>
                {% else %}
                <option value="{{ c.id }}">{{ c.country_name }}</option>
                {% end %}
                {% end %}
            </select>
            </td>
            <td><label class="form-control" for="cellphone_number">手机号</label></td>
            <td><input class="form-control" type="text" name="cellphone_number" id="cellphone_number"  readonly="readonly" value="{% if staff and staff.cellphone %}
             {{ staff.cellphone }}
               {% end %}"
            /></td>
        </tr>

        <tr>
            <td colspan="1"></td>
            <td colspan="1">
                {% if staff.state %}
                <input class="btn btn-primary pull-right" type="submit" name="delete_or_restore"
                       value="删除"/>
                {% else %}
                <input class="btn btn-primary pull-right" type="submit" name="delete_or_restore"
                       value="恢复"/>
                {% end %}

            </td>
            <td colspan="2"><a class="btn btn-primary" href="/backstage/management/staff/list/">取消</a></td>
        </tr>

    </table>

</form>

{% end %}