{% extends '../../manage_base.html' %}
{% block title %}
添加用户配置信息
{% end %}

{% block cssnew %}
    <style>
    span.error{color:#C00; padding:0 6px;}
    </style>
{% end %}

{% block body_content %}
<form method="POST" action="{{ add_url }}" role="form" id="jsForm">
    <table class="table table-striped table-border">
        <tr>
            <td style="text-align:right" id="testnew">距离</td>
            <td><input class="form-control" type="text" placeholder="distance(请输入数字)" name="distance" value="0" id="instance" required data-rule-distance="true" data-msg-required="请输入数字" data-msg-distance="请输入数字"/></td>
        </tr>
        <tr>
            <td style="text-align:right">性别</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_sex">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">身份证</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_identity_card">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">真实姓名</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_real_name">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">邮箱</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_email">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">头像</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_icon">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">原头像</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_source_icon">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">昵称</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_nickname">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">生日</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_birthday">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">身高</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_height">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">体重</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_weight">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">结婚</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_marriage">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">简历</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_resume">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">血型</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_blood">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">家乡</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_hometown">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">当前所在城市</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_current">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">行业</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_industry_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">体型</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_body_type_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">抽烟</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_smoke_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">喝酒</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_drink_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">工作领域</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_work_domain_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">专业</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_profession_id">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
        <tr>
            <td style="text-align:right">学校</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_school">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
         <tr>
            <td style="text-align:right">公司</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_company">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
         <tr>
            <td style="text-align:right">所受教育</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_education">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>
         <tr>
            <td style="text-align:right">兴趣</td>
            <td>
                 <select class="form-control" style="width: 100px;" name="has_interest">
                   <option value="0">False</option>
                   <option value="1">True</option>
                 </select>
            </td>
        </tr>

        <tr>
            <td colspan="1"><input class="btn btn-primary pull-right" type="submit" name="submit" value="添加"/></td>
            <td colspan="1"><a class="btn btn-primary" href="{{ list_url }}">取消</a></td>
        </tr>

    </table>
</form>
<script  src="{{ static_url('js/backstage/jquery.validate.js') }}"></script>
<script>
    $(function(){
        $("#jsForm").validate({
            submitHandler:function () {
                
            }
        })
    })
    $.validator.setDefaults({
        errorElement:'span'
        });

    //配置通用的默认提示语
    $.extend($.validator.messages, {
        required: '必填',
        equalTo: "请再次输入相同的值"
    });
    //距离
    jQuery.validator.addMethod("distance", function (value, element) {
//        var distance = /^[a-z0-9._%-]+@([a-z0-9-]+\.)+[a-z]{2,4}$/;
        var distance = /^[+|-]?\d*\.?\d*$/;
        return this.optional(element) || (distance.test(value));
    }, "填写数字");


</script>
{% end %}