{% extends '../base.html' %}
{% block title %}
后台重置密码
{% end %}

{% block body %}
{% module xsrf_form_html() %}
<form method="post" action="{{ postUrl }}" role="form">
    <input type="hidden" name="format" value="api"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <label class="col-md-2"></label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input class="form-control" name="country_code" type="text" placeholder="区号"/>
    </div>
    <br/>

    <label class="col-md-2">cellphone_number</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input class="form-control" name="cellphone_number" id="cellphone_number" type="text"
               placeholder="手机号(string，必填)"/>
    </div>
    <br/>

    <label class="col-md-2">password</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="password" type="password" placeholder="新密码(string，必填)"/>
    </div>
    <br/>

    <label class="col-md-2">code</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-check"></span></span>
        <input class="form-control" style="width:auto" name="code" type="text" placeholder="验证码(string，必填)"/>
        <a class="btn btn-primary inline" href="javascript:void(0);" onclick="test();">
            <span class="glyphicon glyphicon-send">获取验证码</span>
        </a>
    </div>
    <br/>

    <label class="col-md-4"></label>
    <div class="input-group col-md-6">
        <input class="btn btn-primary" name="reset" type="submit" value="重置密码"/>
        <!--<a class="btn btn-primary pull-right" href="{{ home_url }}">-->
        <!--<span class="glyphicon glyphicon-backward">返回</span></a>-->
    </div>

    <script>
        function test() {
            cellphone_number = $("#cellphone_number").val();
            $.ajax({
                type: 'post',
                url: '/rest/api/ohho/send/verification/code/',
                data: {'cellphone_number': cellphone_number},
                success: function (data) {
                    console.log("success");
                    console.log(data);
                }
            });
        }
    </script>
</form>
{% end %}