{% extends '../../manage_base.html' %}
{% block title %}
组删除页面
{% end %}

{% block body_content %}

<form method="POST" action="{{ delete_url }}" role="form">
    <input type="hidden" value="{{ group_obj.id }}" name="id"/>
    <table class="table table-striped table-border">
        <tr>
            <td><label class="form-control" for="name">组名称</label></td>
            <td><input class="form-control" type="text" name="name" id="name"
                       value="{{ group_obj.name }}"/></td>
        </tr>
        <tr>
            <td><label class="form-control" for="description">组描述</label></td>
            <td><input class="form-control" type="text" name="description" id="description"
                       value="{{ group_obj.description }}"/></td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-primary pull-right" type="submit" name="delete_or_restore"
                       value="删除"/>
            </td>
            <td colspan="1"><a class="btn btn-primary" href="{{ list_url}}">取消</a></td>
        </tr>
    </table>
</form>

{% end %}