{% extends '../base.html' %}
{% block title %}
更新蓝牙设备配置信息
{% end %}

{% block body_title %}
更新蓝牙设备配置信息
{% end %}

{% block form_body %}
<label class="col-md-2">identity_id</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input class="form-control" name="identity_id" type="text" placeholder="蓝牙设备唯一标识(string，必填)"/>
</div>
<br/>

<label class="col-md-2">password</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input class="form-control" name="password" type="text" placeholder="蓝牙设备密码(string，选填，默认为空)"/>
</div>
<br/>

<label class="col-md-2">name</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input class="form-control" name="name" type="text" placeholder="蓝牙设备名称(string，选填，默认为空)"/>
</div>
<br/>

<label class="col-md-2">power</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input class="form-control" name="power" type="text" placeholder="蓝牙设备发射功率(int，选填，默认为0)"/>
</div>
<br/>

<label class="col-md-2">periods</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input class="form-control" name="periods" type="text" placeholder="蓝牙设备发射频率(int，选填，默认为0， 单位为毫秒)"/>
</div>
<br/>
{% end %}