{% extends '../../manage_base.html' %}
{% block title %}
国家区域详情
{% end %}

{% block body_content %}

<form method="POST" action="{{ detail_url }}" role="form">
    <input type="hidden" value="{{ country_code_id }}" name="id"/>
    <table class="table table-striped table-border">
        <tr>
            <td><label class="form-control" for="name">名称</label></td>
            <td><input class="form-control" type="text" name="name" id="name"
                       value="{{ country_name }}"/></td>
        </tr>
        <tr>
            <td><label class="form-control" for="country_code">国家区号</label></td>
            <td><input class="form-control" type="text" name="country_code" id="country_code"
                       value="{{ country_code }}"/></td>
        </tr>
        <tr>
            <td><input class="btn btn-primary pull-right" type="submit" name="submit" value="修改"/>

            </td>
            <td colspan="1"><a class="btn btn-primary" href="{{ list_url}}">取消</a></td>
        </tr>
    </table>
</form>

{% end %}