{% extends '../manage_base.html' %}
{% block title %}
权限数据列表
{% end %}

{% block body_content %}

<div class="list-group">
    <a href="{{ permission_group_backstage_list_url }}" class="list-group-item active">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-search">组</span>
        </h4>
        <p class="list-group-item-text">
            由员工组成的组，每一组的人有相同的权限
        </p>
        <span class="label label-info">组</span>
        <span class="badge">列表</span>
        <span class="badge">详情</span>
        <span class="badge">添加</span>
    </a>
    <a href="{{ permission_page_backstage_list_url }}" class="list-group-item ">
        <h4 class="list-group-item-heading">
            <span class="glyphicon glyphicon-search">页面</span>
        </h4>
        <p class="list-group-item-text">
            按功能划分的页面，每种页面都有增，删，改，查的权限设置
        </p>
        <span class="label label-info">页面</span>
        <span class="badge">列表</span>
        <span class="badge">详情</span>
        <span class="badge">添加</span>
    </a>
</div>

{% end %}