{% extends '../manage_base.html' %}
{% block title %}
用户与IM的关系详情
{% end %}

{% block body_content %}
<form method="POST" action="{{ detail_url }}" role="form">
    <input type="hidden" value="{{ im_user_id}}" name="id"/>
    <table class="table table-striped table-border">
        <tr>
            <td><label class="form-control" for="username">用户名</label></td>
            <td><input class="form-control" type="text" name="username" id="username"
                       value="{{username}}"/></td>
            <td><label class="form-control" for="token">IM密码</label></td>
            <td><input class="form-control" type="text" name="token" id="token"
                       value="{{token}}"/></td>
        </tr>
        <tr>
            <td><label class="form-control" for="name">昵称</label></td>
            <td><input class="form-control" type="text" name="name" id="name"
                       value="{{name}}"/></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="1"></td>
            <td colspan="1">
                <!--{% if state %}-->
                <!--<input class="btn btn-primary pull-right" type="submit" name="delete_or_restore"-->
                       <!--value="删除"/>-->
                <!--{% else %}-->
                <!--<input class="btn btn-primary pull-right" type="submit" name="delete_or_restore"-->
                       <!--value="恢复"/>-->
                <!--{% end %}-->

                <input class="btn btn-primary pull-right" type="submit" name="submit" value="修改"/>

            </td>
            <td colspan="2"><a class="btn btn-primary" href="{{ list_url}}">取消</a></td>
        </tr>
    </table>
</form>

{% end %}