{% extends '../base.html' %}
{% block title %}
取消见面
{% end %}

{% block body_title %}
取消见面
{% end %}

{% block form_body %}
    <label class="col-md-2">friend_user_id</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="friend_user_id" type="text" placeholder="朋友的用户ID(int, 必填)"/>
    </div>
    <br/>

     <label class="col-md-2">apply_id</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="apply_id" type="text" placeholder="请求ID(int, 必填)"/>
    </div>
    <br/>
{% end %}