{% extends '../base.html' %}
{% block title %}
发送消息
{% end %}

{% block body_title %}
发送消息
{% end %}

{% block form_body %}
<label class="col-md-2">friend_user_id</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input class="form-control" name="friend_user_id" type="text"
           placeholder="另一用户ID(int, 必填)"/>
</div>
<br/>

<label class="col-md-2">content</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
    <input class="form-control" name="content" type="text"
           placeholder="发送的消息内容"/>
</div>
<br/>

<label class="col-md-2">type</label>
<div class="input-group col-md-6">
    <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
    <input class="form-control" name="type" type="text"
           placeholder="发送的消息类型（0：暂时聊天， 1：朋友聊天）"/>
</div>
<br/>
{% end %}
