{% extends '../base.html' %}
{% block title %}
重新绑定手机设备
{% end %}

{% block body_title %}
重新绑定手机设备
{% end %}

{% block form_header %}
{% end %}

{% block form_body %}
    <label class="col-md-3">cellphone_key</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input class="form-control" name="cellphone_key" type="text" placeholder="手机唯一标识(string, 必填)"/>
    </div>
    <br/>

    <label class="col-md-3">country_code</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user">国际区号</span></span>
        <select name="country_code" id="country_code" class="form-control">
            {% for country_code in country_codes %}
            <option value="{{ country_code.country_code }}">{{ country_code.country_name }}</option>
            {% end %}
        </select>
    </div>
    <br/>
    <label class="col-md-3">cellphone_number</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_number" id="cellphone_number" type="text"
               placeholder="手机号码(string, 必填)"/>
    </div>
    <br/>

    <label class="col-md-3">code</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" style="width:auto" name="code" type="text" placeholder="验证码(string, 必填)"/>
        <a class="btn btn-primary inline" href="javascript:void(0);" onclick="test();">
            <span class="glyphicon glyphicon-send">获取验证码</span>
        </a>
    </div>

    <br/>


    <label class="col-md-3">cellphone_operation</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_operation" type="text" placeholder="操作系统(string，选填，默认为空字符串)"/>
    </div>
    <br/>


    <label class="col-md-3">cellphone_operation_version</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_operation_version" type="text"
               placeholder="操作系统版本(string，选填，默认为空字符串)"/>
    </div>
    <br/>

    <label class="col-md-3">cellphone_build_id</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_build_id" type="text"
               placeholder="设备版本号(string，选填，默认为空字符串)"/>
    </div>
    <br/>

    <label class="col-md-3">cellphone_build_model</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_build_model" type="text"
               placeholder="设备名称(string，选填，默认为空字符串)"/>
    </div>
    <br/>


    <label class="col-md-3">cellphone_manufacturer</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_manufacturer" type="text" placeholder="厂商(string，选填，默认为空字符串)"/>
    </div>
    <br/>

    <label class="col-md-3">cellphone_brand</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_brand" type="text" placeholder="品牌(string，选填，默认为空字符串)"/>
    </div>
    <br/>

    <label class="col-md-3">cellphone_platform_type</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_platform_type" type="text" placeholder="平台类型(string，选填，默认为空字符串)"/>
    </div>
    <br/>

    <label class="col-md-3">cellphone_platform_version</label>
    <div class="input-group col-md-6">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input class="form-control" name="cellphone_platform_version" type="text"
               placeholder="平台版本(string，选填，默认为空字符串)"/>
    </div>
    <br/>

{% end %}

{% block form_script %}
<script>
    function test() {
        cellphone_number = $("#cellphone_number").val();
        $.ajax({
            type: 'post',
            url: '/rest/api/ohho/send/verification/code/',
            data: {'cellphone_number': cellphone_number},
            success: function (data) {
                console.log("success");
                console.log(data);
            }
        });
    }
</script>
{% end %}
